* {
    background-color:rgb(1, 1, 75);
    font-style: italic;

}

header {
    margin: 10;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    height: 50vh;
    text-align: center;
}



.nav{
    display: table-column-group;
}
.intro-disc {
    color:lightslategray;
    text-align: center;
    margin-top: -30px;
    display: block;
}

body {
    color: darkgray;

}
